<div>
    <h1>Bienvenidos al Chat de la CAMADA - 43395</h1>
    <h2>Nombre: <span id="myName"></span></h2>

    <div>
        <p>Escriba un mensaje: <input id="chatBox" type="text"></p>
    </div>


    
</div>